<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>夢想家棒球隊</title>   	
 
  <meta http-equiv="cache-control" content="no-cache">  
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="format-detection" content="telephone=no">



<link href='sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">


<link rel='stylesheet' href='css/smart.css' type='text/css'>
<link rel='stylesheet' href='table.css' type='text/css'>

<link href="index.css" rel="stylesheet" >
<!-- home banner -->


<script src="js/jquery.min.js.js"></script>     
<script src="js/slick.js"></script>
<script src="js/aos.js"></script>
<script src="js/smart-app-banner.js"></script>    
<script src="js/mobile-detect.js"></script>

<script src="js/functions.js"></script>
<script src="js/controller.js"></script>
<script src="js/swiper.jquery.min.js"></script>

<script src="js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link href="css/common.css" rel="stylesheet" />
<link href="css/swiper.min.css" rel="stylesheet" />  

<!-- vue+element ui -->
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="elementUI.css" rel="stylesheet" >

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />


</head>
<body>


       <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.14.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
   
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

<style>
  .el-table .color-row {
    background: #C9D6E0;
  }


</style>



<nav class="main-nav" role="navigation">

  <!-- Mobile menu toggle button (hamburger/x icon) -->
  <input id="main-menu-state" type="checkbox" />
  <label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> Toggle main menu visibility
  </label>

  <h2 class="nav-brand"><img src="dreamer.png"  width="132" height="50"  ></h2>

  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm sm-mint">
    <li><a href="home.html">首頁</a></li>
    <li><a href="#">球員資料</a>
      
    </li>
    <li><a href="#">戰績排行</a>
      
    </li>
    <li><a href="#">數據統計</a>
      
    </li>

  </ul>
</nav>

<div id="pnl_wrapper" class="wrapper homepage green-page">

  <div class="home-banner">
      
    <a href="#" target="_blank"><img class="d-none d-md-block" src="image/cover_1.jpg" alt="#" ><img class="d-block d-md-none" src="image/cover_1.jpg" alt="#" ></a>        
    <a href="#" target="_blank"><img class="d-none d-md-block" src="image/cover_1.jpg" alt="#" ><img class="d-block d-md-none" src="image/cover_1.jpg" alt="#" ></a>        
            
  </div>
  <br>


<div id="app" class ="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-14 el-col-lg-offset-5"> 

  <h2 class ="sub_title"><font color="#003364">最新消息</font></h2>

  <el-table :data="tableDataNEWS.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'date', order: 'descending'}" :show-header=false>
    <el-table-column prop="date"></el-table-column>
    <el-table-column prop="title"></el-table-column>
    <el-table-column prop="link">
      <template slot-scope="scope">
        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">開啟</el-button>
      </template>
    </el-table-column>
  </el-table>
  
  <el-row :gutter="20">
    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8 ">
      
      <h2 class ="sub_title"><font color="#003364">打擊排行</font></h2>
      <template>

        <el-tabs v-model="batter" @tab-click="batterClick">
          <el-tab-pane label="打擊率" name="AVG">
            <el-table :data="tableDataAVG.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'AVG', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="AVG" label="打擊率"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="打點" name="RBI">
            <el-table :data="tableDataRBI.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'RBI', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="RBI" label="打點"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="全壘打" name="HR">
            <el-table :data="tableDataHR.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HR', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HR" label="全壘打"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="安打" name="HIT">
            <el-table :data="tableDataHIT.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HIT', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HIT" label="安打"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="盜壘" name="SB">
            <el-table :data="tableDataSB.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'SB', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="SB" label="盜壘"></el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        
      </template>
    </el-col>

    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8">

      <h2 class ="sub_title"><font color="#003364">投手排行</font></h2>
      <template >

        <el-tabs v-model="pitcher" @tab-click="pitcherClick">
          <el-tab-pane label="勝投" name="first">
            <el-table :data="tableDataWIN.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'WIN', order: 'descending'}">
              <template slot="empty">
                <span>沒有資料</span>
              </template>
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="WIN" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="救援" name="second">
            <template slot="empty">
              <span>沒有資料</span>
            </template>
            <el-table :data="tableDataSV.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'SV', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="SV" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="中繼" name="third">
            <template slot="empty">
              <span>沒有資料</span>
            </template>
            <el-table :data="tableDataHLD.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HLD', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HLD" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="防禦率" name="fourth">
            <template slot="empty">
              <span>沒有資料</span>
            </template>
            <el-table :data="tableDataERA.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'ERA', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="ERA" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="三振" name="fifth">
            <template slot="empty">
              <span>沒有資料</span>
            </template>
            <el-table :data="tableDataSO.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'SO', order: 'descending'}">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="SO" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

        </el-tabs>
        
      </template>
    </el-col>

    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8">

      <h2 class ="sub_title"><font color="#003364">戰績排行</font></h2>
      
    </el-col>

    
  </el-row>
  

</div>

</div>



<script>
  let tableData1 = [{
    number: '26',
    name: '呂皇毅',
    AVG: '0.455',
    HR: 2,
    SB: 8,
    RBI: 2,
    HIT: 5
  }, {
    number: '24',
    name: '馮昱雲',
    AVG: '0.400',
    HR: 3,
    SB: 8,
    RBI: 5,
    HIT:6
  },{
    number: '7',
    name: '王立勝',
    AVG: '0.355',
    HR: 20,
    SB: 4,
    RBI: 2,
    HIT: 21
  },{
    number: '26',
    name: '呂皇毅',
    AVG: '0.455',
    HR: 2,
    SB: 8,
    RBI: 2,
    HIT: 5
  },{
    number: '26',
    name: '呂皇毅',
    AVG: '0.455',
    HR: 2,
    SB: 8,
    RBI: 2,
    HIT: 5
  },{
    number: '26',
    name: '呂皇毅',
    AVG: '0.455',
    HR: 2,
    SB: 8,
    RBI: 2,
    HIT: 5
  }]

  let news =[{
    date: '2021-05-11',
    title: '夢想家勝率重回五成',
    link:'122.html'
  },{
    date: '2021-05-01',
    title: '夢想家雨中慘敗',
    link:'122.html'
  },{
    date: '2021-05-11',
    title: '球經招募中',
    link:'122.html'
  }]

  news.sort((a, b) => (b.date).localeCompare(a.date));

  console.log(tableData1)



  var Main = {
    data() {
      return {
        batter: 'AVG',
        pitcher: 'first',
        tableDataAVG: tableData1,
        tableDataRBI: tableData1,
        tableDataHR: tableData1,
        tableDataHIT: tableData1,
        tableDataSB: tableData1,

        tableDataWIN: tableData1,
        tableDataSV: tableData1,
        tableDataHLD: tableData1,
        tableDataERA: tableData1,
        tableDataSO: tableData1,

        tableDataNEWS: news,
          
    
      };

    },methods: {
      batterClick(tab, event) {
        console.log(tableDataWIN)
      },
      pitcherClick(tab, event) {
        console.log(tab, event);
      },
      tableRowClassName({row, rowIndex}) {
        if (rowIndex%2 === 1) {
          return 'color-row';
        } 
        return '';
      },
    }
        
     
  };

  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')
    
</script>


</body>
</html>