<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>夢想家棒球隊</title>   	
 
  <meta http-equiv="cache-control" content="no-cache">  
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta name="format-detection" content="telephone=no">



<link href='sm-css/sm-core-css.css' rel='stylesheet' type='text/css' />
<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
<link href='sm-css/sm-mint/sm-mint.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">


<link rel='stylesheet' href='css/smart.css' type='text/css'>
<link rel='stylesheet' href='table.css' type='text/css'>

<link href="index.css" rel="stylesheet" >
<!-- home banner -->


<script src="js/jquery.min.js.js"></script>     
<script src="js/slick.js"></script>
<script src="js/aos.js"></script>
<script src="js/smart-app-banner.js"></script>    
<script src="js/mobile-detect.js"></script>

<script src="js/functions.js"></script>
<script src="js/controller.js"></script>
<script src="js/swiper.jquery.min.js"></script>

<script src="js/jquery.smartmenus.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link href="css/common.css" rel="stylesheet" />
<link href="css/swiper.min.css" rel="stylesheet" />  

<!-- vue+element ui -->
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui@2.15.0/lib/index.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="elementUI.css" rel="stylesheet" >

<link href="https://tafengtravel.github.io/tafengtravel/index/css/book.css" rel="stylesheet" />

<!-- axios -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>



</head>
<body>


       <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.14.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
   
   <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

<style>
  .el-table .color-row {
    background: #C9D6E0;
  }


</style>



<nav class="main-nav" role="navigation">

  <!-- Mobile menu toggle button (hamburger/x icon) -->
  <input id="main-menu-state" type="checkbox" />
  <label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> 
  </label>

  <h2 class="nav-brand"><img src="dreamer.png"  width="132" height="50"  ></h2>

  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm sm-mint">
    <li><a href="home.html">首頁</a></li>
    <li><a href="#">球員資料</a>
      
    </li>
    <li><a href="#">戰績排行</a>
      
    </li>
    <li><a href="#">數據統計</a>
      
    </li>

  </ul>
</nav>

<div id="pnl_wrapper" class="wrapper homepage green-page">

  <div class="home-banner">
      
    <a href="#" target="_blank"><img class="d-none d-md-block" src="image/cover_1.jpg" alt="#" ><img class="d-block d-md-none" src="image/cover_1.jpg" alt="#" ></a>        
    <a href="#" target="_blank"><img class="d-none d-md-block" src="image/cover_1.jpg" alt="#" ><img class="d-block d-md-none" src="image/cover_1.jpg" alt="#" ></a>        
            
  </div>
  <br>


<div id="app" class ="el-col el-col-24 el-col-xs-24 el-col-xs-offset-0 el-col-sm-24 el-col-sm-offset-0 el-col-lg-14 el-col-lg-offset-5"> 

  <h2 class ="sub_title"><font color="#003364">最新消息</font></h2>

  <el-table :data="tableDataNEWS.slice(0,5)" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'date', order: 'descending'}" :show-header=false>
    <el-table-column prop="date"></el-table-column>
    <el-table-column prop="title"></el-table-column>
    <el-table-column prop="link">
      <template slot-scope="scope">
        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">開啟</el-button>
      </template>
    </el-table-column>
  </el-table>
  
  <el-row :gutter="20">
    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8 ">
      
      <h2 class ="sub_title"><font color="#003364">打擊排行</font></h2>
      <template>

        <el-tabs v-model="batter" @tab-click="batterClick">
          <el-tab-pane label="打擊率" name="AVG">
            <el-table :data="tableDataAVG" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'AVG', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="AVG" label="打擊率"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="打點" name="RBI">
            <el-table :data="tableDataRBI" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'RBI', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="RBI" label="打點"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="全壘打" name="HR">
            <el-table :data="tableDataHR" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HR', order: 'descending'}"  :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HR" label="全壘打"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="安打" name="HIT">
            <el-table :data="tableDataHIT" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HIT', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HIT" label="安打"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="盜壘" name="SB">
            <el-table :data="tableDataSB" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'SB', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="SB" label="盜壘"></el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
        
      </template>
    </el-col>

    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8">

      <h2 class ="sub_title"><font color="#003364">投手排行</font></h2>
      <template >

        <el-tabs v-model="pitcher" @tab-click="pitcherClick">
          <el-tab-pane label="勝投" name="first">
            <el-table :data="tableDataW" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'W', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="W" label="勝投"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="救援" name="second">
            <el-table :data="tableDataSV" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'SV', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="SV" label="救援"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="中繼" name="third">
            <el-table :data="tableDataHLD" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'HLD', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="HLD" label="中繼"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="防禦率" name="fourth">
            <el-table :data="tableDataERA" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'ERA', order: 'ascending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="ERA" label="防禦率"></el-table-column>
            </el-table>
          </el-tab-pane>

          <el-tab-pane label="三振" name="fifth">
            <el-table :data="tableDataK" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'K', order: 'descending'}" :show-header=false empty-text="沒有資料">
              <el-table-column prop="number" label="背號"></el-table-column>
              <el-table-column prop="name" label="姓名"></el-table-column>
              <el-table-column prop="K" label="三振"></el-table-column>
            </el-table>
          </el-tab-pane>

        </el-tabs>
        
      </template>
    </el-col>

    <el-col class ="el-col el-col-8 el-col-xs-24 el-col-sm-24 el-col-lg-8">

      <h2 class ="sub_title"><font color="#003364">戰績排行</font></h2>
        
        <el-table :data="tableDataRank" style="width: 100%" :row-class-name="tableRowClassName" :default-sort = "{prop: 'rank', order: 'ascending'}" empty-text="沒有資料">
          <el-table-column prop="team" label="隊伍"></el-table-column>
          <el-table-column prop="win" label="勝" width = "40%"></el-table-column>
          <el-table-column prop="lose" label="敗" width = "40%"></el-table-column>
          <el-table-column prop="rate" label="勝率"></el-table-column>
          <el-table-column prop="GB" label="場差"></el-table-column>
        </el-table>
        
      
    </el-col>

    
  </el-row>
  

</div>

</div>



<script>
  let batterData;let pitcherData;let rankData
  let sortBatterAVG;let sortBatterRBI;let sortBatterHR;let sortBatterHIT;let sortBatterSB;
  let sortPitcherW;let sortPitcherSV;let sortPitcherHLD;let sortPitcherERA;let sortPitcherK

  let news =[{
    date: '2021-05-05',
    title: '夢想家勝率重回五成',
    link:'122.html'
  },{
    date: '2021-05-11',
    title: '夢想家雨中慘敗',
    link:'122.html'
  },{
    date: '2021-05-11',
    title: '球經招募中',
    link:'122.html'
  }]

  // getJson() 

  // async function getJson(){
  //   var batterUrl= "https://kevin860320.github.io/dreamer/batter.json"
  //   var pitcherUrl= "https://kevin860320.github.io/dreamer/pitcher.json"

  //   await axios.get(batterUrl)
  //   .then( (res) => {
  //     batterData = res.data
  //   })
  //   .catch( (err) => {
  //     console.log(err);
  //   });

  //   await axios.get(pitcherUrl)
  //   .then( (res) => {
  //     pitcherData = res.data
  //   })
  //   .catch( (err) => {
  //     console.log(err);
  //   });
  //   console.log(pitcherData)
  //   sort()    
  // }

  // async function sort(){
    // sortBatterAVG = batterData
    // sortBatterRBI = batterData
    // sortBatterHR = batterData
    // sortBatterHIT = batterData
    // sortBatterSB = batterData

    // sortPitcherW = pitcherData
    // sortPitcherSV = pitcherData
    // sortPitcherHLD = pitcherData
    // sortPitcherERA = pitcherData
    // sortPitcherK = pitcherData

    //  sortBatterAVG.sort((a, b) => (b.AVG).localeCompare(a.AVG));
    //  sortBatterRBI.sort((a, b) => (b.RBI).localeCompare(a.RBI));
    //  sortBatterHR.sort((a, b) => (b.HR).localeCompare(a.HR));
    //  sortBatterHIT.sort((a, b) => (b.HIT).localeCompare(a.HIT));
    //  sortBatterSB.sort((a, b) => (b.SB).localeCompare(a.SB));
    //  sortPitcherW.sort((a, b) => (b.W).localeCompare(a.W));
    //  sortPitcherSV.sort((a, b) => (b.SV).localeCompare(a.SV));
    //  sortPitcherHLD.sort((a, b) => (b.HLD).localeCompare(a.HLD));
    //  sortPitcherERA.sort((a, b) => (a.ERA).localeCompare(b.ERA));
    //  sortPitcherK.sort((a, b) => (b.K).localeCompare(a.K));

  //   news.sort((a, b) => (b.date).localeCompare(a.date));
    
  //   await vue()
  // }
  

  var Main = {
    data() {
      return {
        batter: 'AVG',
        pitcher: 'first',
        tableDataAVG: [],
        tableDataRBI: [],
        tableDataHR: [],
        tableDataHIT: [],
        tableDataSB: [],

        tableDataW: [],
        tableDataSV: [],
        tableDataHLD: [],
        tableDataERA: [],
        tableDataK: [],
        
        tableDataRank: [],

        tableDataNEWS: news,            
    
      };

    },methods: {
      batterClick(tab, event) {
        console.log();
      },
      pitcherClick(tab, event) {
        console.log();
      },
      tableRowClassName({row, rowIndex}) {
        if (rowIndex%2 === 1) {
          return 'color-row';
        } 
        return '';
      }
    },mounted(){
      let batterUrl= "https://kevin860320.github.io/dreamer/batter.json"
      let pitcherUrl= "https://kevin860320.github.io/dreamer/pitcher.json"
      let rankUrl= "https://kevin860320.github.io/dreamer/rank.json"

      axios.get(batterUrl)
      .then( (res) => {
        batterData = res.data

        this.tableDataAVG = batterData
        this.tableDataRBI = batterData
        this.tableDataHR = batterData
        this.tableDataHIT = batterData
        this.tableDataSB = batterData    

        //只採計PA > 4的
        for (i=0;i<this.tableDataAVG.length;i++){
          if (parseInt(this.tableDataAVG[i].PA) < 5 ){
            console.log(this.tableDataAVG[i].name)
            this.tableDataAVG.splice(i,1)
            i=i-1
          }
        }
        console.log(this.tableDataAVG)
      
        this.tableDataAVG = this.tableDataAVG.sort((a, b) => (b.AVG).localeCompare(a.AVG));
        this.tableDataAVG = this.tableDataAVG.slice(0,5)
        this.tableDataRBI = this.tableDataRBI.sort((a, b) => (b.RBI).localeCompare(a.RBI));
        this.tableDataRBI = this.tableDataRBI.slice(0,5)
        this.tableDataHR = this.tableDataHR.sort((a, b) => (b.HR).localeCompare(a.HR));
        this.tableDataHR = this.tableDataHR.slice(0,5)
        this.tableDataHIT = this.tableDataHIT.sort((a, b) => (b.HIT).localeCompare(a.HIT));
        this.tableDataHIT = this.tableDataHIT.slice(0,5)
        this.tableDataSB = this.tableDataSB.sort((a, b) => (b.SB).localeCompare(a.SB));
        this.tableDataSB = this.tableDataSB.slice(0,5)

        if(this.tableDataHR[0].HR == '0'){
          this.tableDataHR = []
        }
       
      })
      .catch( (err) => {
        console.log(err);
      });

      axios.get(pitcherUrl)
      .then( (res) => {
        pitcherData = res.data

        this.tableDataW = pitcherData
        this.tableDataSV = pitcherData
        this.tableDataHLD = pitcherData
        this.tableDataERA = pitcherData
        this.tableDataK = pitcherData

        for(i=0;i<this.tableDataK.length;i++){
          this.tableDataK[i].K = parseInt(this.tableDataK[i].K)
        }//K STRING比對有問題 要先轉成INT

        this.tableDataW = this.tableDataW.sort((a, b) => (b.W).localeCompare(a.W));
        this.tableDataW = this.tableDataW.slice(0,5)
        this.tableDataSV = this.tableDataSV.sort((a, b) => (b.SV).localeCompare(a.SV));
        this.tableDataSV = this.tableDataSV.slice(0,5)
        this.tableDataHLD = this.tableDataHLD.sort((a, b) => (b.HLD).localeCompare(a.HLD));
        this.tableDataHLD = this.tableDataHLD.slice(0,5)
        this.tableDataERA = this.tableDataERA.sort((a, b) => (a.ERA).localeCompare(b.ERA));
        this.tableDataERA = this.tableDataERA.slice(0,5)
        this.tableDataK = this.tableDataK.sort((a, b) => (b.K - a.K));
        this.tableDataK = this.tableDataK.slice(0,5)

        if(this.tableDataSV[0].SV == '0'){
          this.tableDataSV = []
        }
        
      })
      .catch( (err) => {
        console.log(err);
      });

      axios.get(rankUrl)
      .then( (res) => {
        rankData = res.data     
        this.tableDataRank = rankData
      })
      .catch( (err) => {
        console.log(err);
      });
    }
};

var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')

  

  
    
</script>


</body>
</html>